
<% unless @status_message.nil? %>
<div class="container">

	<div class="row">
		<div class="col-sm-12 "> 
		<div class="alert alert-warning" role="alert">	<%= @status_message %> </div>
		</div>		
	</div> 

</div>
<% end %>

<form method="POST" action="/api2csv" enctype="multipart/form-data">

	<h2>API2CSV</h2>
	<p>Please enter the necessary variables below. Tapir will take care of the rest, honey.</p>
	<p> Before using please read the handydandy Tapir-manual. It explains stuff like how this works and holds Ancient Tapir Wisdom.</p>

	<div class="p-3 mb-2 rounded bg-light">
		<h4>Source</h4>
		<p>These variables are necessary to connect to the API that holds the data so we may get the data out.</p>
		<div class="form-group row">
		  <label for="Endpoint_URL" class="col-sm-3 col-form-label">Endpoint URL</label>	
		  <input type="url" name="Endpoint_URL" class="form-control col-sm-4" id="name" aria-describedby="nameHelp" placeholder="https://omgeving.zaaksysteem.nl">
		  <small id="nameHelp" class="form-text text-muted col-form-label col-sm-4">URL goes here.</small>
  		</div> 

		<div class="form-group row">
		  <label for="API_Interface_ID_SRC" class="col-sm-3 col-form-label">API Interface ID</label>	
		  <input type="text" name="API_Interface_ID_SRC" class="form-control col-sm-4" id="name" aria-describedby="nameHelp" placeholder="#">
		  <small id="nameHelp" class="form-text text-muted col-form-label col-sm-4">Koppelvlak id nummer.</small>
  		</div> 

		<div class="form-group row">
		  <label for="API_KEY_SRC" class="col-sm-3 col-form-label">API Key</label>	
		  <input type="password" name="API_KEY_SRC" class="form-control col-sm-4" id="name" aria-describedby="nameHelp" placeholder="Datsecretsauce">
		  <small id="nameHelp" class="form-text text-muted col-form-label col-sm-4">Superdupersecret key goes here.</small>
  		</div> 
	</div>

  		<button type="submit" class="btn btn-primary float-right">Submit</button>
	</div>
</form>

<% unless @casetype_list.nil? %>
	<div class="p-3 mb-2 rounded bg-light">
		<h4>Search Result:</h4>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Zaaktype</th>
		      <th scope="col">UUID</th>
		    </tr>
		  </thead>
		  <tbody>
		<% @casetype_list.each do |key , value| %>    
		    <tr>
		      <th scope="row"><%= key %></th>
		      <td><%= value %></td>
		    </tr>
		<% end %>    
		  </tbody>
		</table>
	</div>
<% end %>    
