<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">tAPIr</h1>
          <p class="lead text-muted"> 
            <img alt="" src="/img/tapir.png"> 
            <p>A tapir is a large, herbivorous mammal, similar in shape to a pig, with a short, prehensile nose trunk. Tapirs inhabit jungle and forest regions of South America, Central America, and Southeastern Asia, as well as this web server. The tapir comes in three different shapes, which perform different functions.</p>
            <p>Although they frequently live in dryland forests, tapirs with access to restful API's spend a good deal of time in and underwater, feeding on soft vegetation, 日清チキンラーメン spicy instant ramen noodles and json-formatted data, taking refuge from predators, and cooling off during hot periods.</p>
            <p> Tapirs near a water or data source will swim, sink to the bottom, and walk along the riverbed to feed, and have been known to submerge themselves under water to allow small fish to pick parasites off their bulky bodies. Along with freshwater lounging, tapirs often wallow in mud pits, such as our V1 api, which also help to keep them cool and free of insects.</p>
            <p>None of them like to be petted but if you ask nicely they may let you admire their nose trunk from a small distance.</p>
          </p>
          <p>
            <a href="#" class="btn btn-info my-2">Tapir wiki</a>
            <a href="#" class="btn btn-secondary my-2">Tapir gifs</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/tapir_gif.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">API2API allows you to convert case contents from one environment to another.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Use</button>
                      <button type="button" class="btn btn-sm btn-outline-info">?</button>
                    </div>
                    <small class="text-muted">online</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/tapir_gif2.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">API2CSV allows you to convert case data to a csv. <br><br> </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Use</button>
                      <button type="button" class="btn btn-sm btn-outline-info">?</button>
                    </div>
                    <small class="text-muted">offline</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/tapir_gif3.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">CSV2API allows you to convert csv-formatted data into cases. <br><br> </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Use</button>
                      <button type="button" class="btn btn-sm btn-outline-info">?</button>
                    </div>
                    <small class="text-muted">offline</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>