	<h2>Manual</h2>
	<p>This explains the app's usage and its many, many, MANY limitations.</p>

	<div class="p-3 mb-2 rounded bg-light">
		<h4>Facts</h4>
		
		<ul class="list-group">
		  <li class="list-group-item"><mark>First phase only.</mark> Tapirs don't understand phases. Wise Tapir-scientists are hard at work researching this fancy-schmancy technology. This means Tapirs don't care for anything beyond your registration phase. They simply Do. Not. Care. Ok? Ugh. Maybe someday they will start caring, but right now... can't be bothered. </li>
		  <li class="list-group-item"><mark>No documents.</mark> Tapirs don't understand files. Lol. Files. Files are stupid! Who cares for files anyway? Tapirs care about cold hard data. The real, unadulterated stuff you can only find in seedy allyways. So you need to remove those from the casetype for now. Maybe we will fix this. We'd like to, but then Gary from Tapir-HR brought some delish dashi-noodles and we forgot what we were doing before.</li>
		  <li class="list-group-item"> <mark>Single requestor.</mark> Tapirs are egocentric and don't care who you are. Who cares who registered your cases. They choose one person and stick to that person. Our psychologists are hard at work changing this. It will take time and numerous counceling sessions.</li>
		  <li class="list-group-item"><mark>No case metadata.</mark> Tapirs do not give a fuck about dates, archival states or being timely. They don't do deadlines, so why should you?</li>
		  <li class="list-group-item">Noodles are the best. <div style="width:100%; position:center;"><iframe src="https://giphy.com/embed/LfoZkIQqdUHmM" width="100%" height="100%" style="position:relative" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div></li>
		</ul> 
	</div>

